name: zqqwz

on:
  workflow_dispatch:
  schedule:
      - cron: '0 0,10 * * *'
jobs:
  build1:
    runs-on: macos-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js 12.10.0
        uses: actions/setup-node@v1
        with:
          node-version: 12.10.0
      - name: npm install
        run: |
          npm install got 
          npm install
      - name: '运行 【zqqwz】'
        run: |
          node Task/zqqwz.js
